@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4" role="heading" name="Welcome">Welcome</h1>
    <a name="Learn More" role="link" href="https://learn.microsoft.com/en-us/aspnet/core/?view=aspnetcore-7.0">Learn More</a>
</div>

